:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --button-bg-color: #f5f4fa;
  --primary-wite-color: #ffffff;
  --secondary-background-color: #2f303a;
  --primary-black-color: #000000;
  --primary-bg-color: #f5f5f5;
  --header-border-color: #ececec;
}

/* body */
.page {
  background-color: var(--primary-wite-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.list,
.projects-list,
.feature-list,
.work-list,
.team-list,
.footer-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.logo {
  display: block;

  color: var(--primary-black-color);
  font-family: "Releway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-nav {
  margin-right: 93px;
}
.logo .web {
  color: var(--accent-color);
}
.site-nav,
.site-auth,
.main-nav,
.page-header {
  display: flex;
  align-items: center;
}
.border-heder {
  border: 1px solid var(--header-border-color);
}

.site-nav .item + .item,
.site-auth .item + .item {
  margin-left: 50px;
}
.site-auth {
  margin-left: auto;
}
.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.site-auth .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-auth .link:hover,
.site-auth .link:focus {
  color: var(--accent-color);
}

.link {
  letter-spacing: 0.02em;
}
.main-container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /*outline: 2px solid tomato;*/
}

/* Hero */
.container h1 {
  display: none;
}
.hero {
  background-color: var(--secondary-background-color);
  text-align: center;
  padding: 200px 0;
}
.hero .title {
  margin-top: 0;
  color: var(--primary-wite-color);
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  /*outline: 2px solid tomato;*/
}
/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container .section {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: var(--button-bg-color); */
}
.bgc {
  background-color: var(--button-bg-color);
}

.section.no-padding {
  padding-top: 94;
  padding-bottom: 0;
}
.section-project {
  /* padding-top: 50px; */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
}
.section .team,
.section .work {
  margin-bottom: 50px;
}
.section .name {
  /* margin-top: 30px; */
  /* margin-bottom: 10px; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.feature-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.work-list,
.team-list,
.projects-list {
  display: flex;
  flex-wrap: wrap;
}
.feature-list {
  display: flex;
  /* margin-bottom: 94px; */
}
.container .btn-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 34px;
  list-style: none;
}

.feature-list p {
  margin-top: 0;
  margin-bottom: 0px;
}

.section .work,
.section .team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.project-item {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.projects-list .title {
  /* margin-left: 24px; */
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.projects-list .text {
  /* margin-left: 24px; */
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
.team-list .text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-item {
  margin: 30px;
}

.project-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}
.project-element:nth-child(3n) {
  margin-right: 0;
}
.project-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.work-element {
  width: 370px;
  margin-right: 30px;
}
.work-element:nth-child(3n) {
  margin-right: 0;
}
.team-element {
  width: 270px;
  margin-right: 30px;
  background: var(--primary-wite-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-element:nth-child(4n) {
  margin-right: 0;
}
.feature-element {
  width: 270px;
  margin-right: 30px;
}
.feature-element:nth-child(4n) {
  margin-right: 0;
}

/* button */

.btn-list .item + .item {
  margin-left: 8px;
}
.button {
  font-family: inherit;
  /* color: var(--primary-text-color); */
  background-color: var(--button-bg-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.hero .button {
  background-color: var(--accent-color);
  color: var(--primary-wite-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* margin-bottom: 200px; */
  padding: 10px 32px;
}
.hero .button:hover,
.hero .button:focus {
  background-color: #188ce8;
}
.list .button {
  color: var(--title-text-color);
  background-color: var(--button-bg-color);
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.list .button:hover,
.list .button:focus {
  color: var(--primary-wite-color);
  background-color: var(--accent-color);
}
/* Footer*/

footer {
  background: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  color: var(--primary-wite-color);
  margin-bottom: 20px;
}
.footer-list .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

address {
  font-style: normal;
  color: var(--primary-wite-color);
}

.footer-list .info {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
