:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --button-bg-color: #f5f4fa;
  --primary-wite-color: #ffffff;
  --secondary-background-color: #2f303a;
  --primary-black-color: #000000;
  --primary-bg-color: #f5f5f5;
  --header-border-color: #ececec;
}

/* -----------------------body----------------------- */

.page {
  background-color: var(--primary-wite-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.list,
.projects-list,
.feature-list,
.work-list,
.team-list,
.footer-list,
.clients-list,
.footer-section {
  padding: 0;
  margin: 0;
  list-style: none;
}

.logo {
  display: block;
  color: var(--primary-black-color);
  font-family: "Releway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-nav {
  margin-right: 93px;
}

.logo .web {
  color: var(--accent-color);
}

.site-nav,
.site-auth,
.main-nav,
.page-header {
  display: flex;
  align-items: center;
}

.border-heder {
  border: 1px solid var(--header-border-color);
}

.site-nav .item + .item,
.site-auth .item + .item {
  margin-left: 50px;
}

.site-auth {
  margin-left: auto;
}

.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-auth .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-contacts {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-auth .link:hover .icon-contacts {
  fill: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.link.current {
  position: relative;
  }

.link.current::after {
  content: "";

  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-auth .link:hover,
.site-auth .link:focus {
  color: var(--accent-color);
}

.link {
  letter-spacing: 0.02em;
}

.main-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/*----------------------- Hero----------------------- */
.container h1 {
  display: none;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/heroimg.svg");
  background-color: #c4c4c4;
  text-align: center;
  padding: 200px 0;
}

.hero .title {
  margin-top: 0;
  color: var(--primary-wite-color);
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}

/*----------------------- section----------------------- */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container .section {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.bgc {
  background-color: var(--button-bg-color);
}

.section.no-padding {
  padding-top: 94;
  padding-bottom: 0;
}

.section-project {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.section .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.feature-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.feature-bgd {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  background-color: var(--button-bg-color);
}
.icon-feature {
  height: 70px;
  width: 70px;
}

.work-list,
.team-list,
.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-list {
  display: flex;
}

.container .btn-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 50px;
  list-style: none;
}

.feature-list p {
  margin-top: 0;
  margin-bottom: 0px;
}

.section .work,
.section .team,
.section .clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.project-item {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.projects-list .title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
}

.projects-list .text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.team-list .text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-item {
  padding: 30px;
}

.project-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  padding: 63px 24px;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  /* opacity: 0; */
  overflow: auto;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text p {
  margin: 0;
}

.project-element:hover .overlay-text {
  opacity: 1;
  transform: translateY(0);
}

.project-element:hover,
.project-element:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-element:nth-child(3n) {
  margin-right: 0;
}

.project-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.work-element {
  position: relative;
  width: 370px;
  height: 294px;
  margin-right: 30px;
}

.work-text {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-list .title {
  margin: 0;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-wite-color);
}

.work-element:nth-child(3n) {
  margin-right: 0;
}

.team-element {
  width: 270px;
  margin-right: 30px;
  background: var(--primary-wite-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-element:nth-child(4n) {
  margin-right: 0;
}

.feature-element {
  width: 270px;
  margin-right: 30px;
}

.feature-element:nth-child(4n) {
  margin-right: 0;
}

/*----------------------- button----------------------- */

.btn-list .item + .item {
  margin-left: 8px;
}

.button {
  font-family: inherit;
  background-color: var(--button-bg-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.hero .button,
.modal .button,
.footer-item .button {
  background-color: var(--accent-color);
  color: var(--primary-wite-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .button:hover,
.hero .button:focus {
  background-color: #188ce8;
}

.list .button {
  color: var(--title-text-color);
  background-color: var(--button-bg-color);
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list .button:hover,
.list .button:focus {
  color: var(--primary-wite-color);
  background-color: var(--accent-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*----------------------- social----------------------- */

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-wite-color);
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  padding: 0;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list .item + .item {
  margin-left: 10px;
}
.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
  border-radius: 50%;
  cursor: pointer;
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--primary-wite-color);
}

.social-list {
  margin-top: 16px;
}
/*----------------------- clients----------------------- */

.btn-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-clients:hover .btn-icon,
.btn-clients:focus .btn-icon {
  fill: #2196f3;
}

.btn-clients:hover,
.btn-clients:focus {
  border-color: #2196f3;
}

.btn-clients {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list,
.social-list {
  display: flex;
  justify-content: center;
}

.clients-list .item + .item {
  margin-left: 30px;
}

/*----------------------- MODAL-----------------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: var(--primary-wite-color);
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms linear;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--primary-wite-color);
  padding: 0;
  color: rgba(0, 0, 0, 0.1);
}

.modal-close:hover .icon-close{
  fill: var(--accent-color);
}

/*----------------------- Footer-----------------------*/

footer {
  background: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: var(--primary-wite-color);
  margin-bottom: 20px;
}

.footer-list .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

address {
  font-style: normal;
  color: var(--primary-wite-color);
}

.footer-list .info {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

li .footer-item :nth-child(1) {
  width: 231px;
}

.footer-social {
  margin-top: 12px;
  margin-left: 70px;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
  text-transform: uppercase;
  color: var(--primary-wite-color);
}

.footer-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--primary-wite-color);
}

.footer-section {
  display: flex;
}

/*----------------------- FORMS-----------------------*/

.modal-title {
  margin-top: 40px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form {
  width: 448px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.footer-form {
  margin-left: 93px;
}

.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--secondary-background-color);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;
}

.form-field input {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.form-field input:hover,
.form-field input:focus {
  border-color: var(--accent-color);
}

.form-field input:hover ~ .icon-modal,
.form-field input:focus ~ .icon-modal {
  fill: var(--accent-color);
}

.form-field label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  /*  */
  
}

.checkbox-link {
  text-underline-offset: 0.3em;
  /* text-decoration-line: underline; */
  color: var(--accent-color);
}

.comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.comment input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.modal .button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.footer-field {
  display: flex;
  flex-direction: row;
}

.icon-modal {
  position: absolute;
  bottom: 11px;
  left: 12px;
  /* transform: translateY(-50%); */
  display: inline-block;
}

.footer-item .button {
padding: 0 0 0 28px;
display: flex;
}

.icon-footer {
  margin-right: 28px;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 10px;
}