.container .section {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container .btn-list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 50px;
    list-style: none;
}

.main-container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.container h1 {
    display: none;
}