.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section.no-padding {
    padding-top: 94;
    padding-bottom: 0;
}

.section .title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);
}

.section .work,
.section .team,
.section .clients {
    @include font(700, 36px, 1.16, null);
    text-align: center;
    margin-bottom: 50px;
}

.section-project {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}