.feature-list p {
    margin-top: 0;
    margin-bottom: 0px;
}

.overlay-text p {
    margin: 0;
}

.project-element:nth-child(3n) {
    margin-right: 0;
}

.project-element:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.work-element:nth-child(3n) {
    margin-right: 0;
}

.team-element:nth-child(4n) {
    margin-right: 0;
}

.feature-element:nth-child(4n) {
    margin-right: 0;
}