.btn-icon {
    width: 106px;
    height: 60px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .btn-clients:hover &,
    .btn-clients:focus & {
        fill: #2196f3;
    }
}

.btn-clients {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border-color: #2196f3;
    }
}

.clients-list,
.soc {
    display: flex;
    justify-content: center;
}

.clients-list .item+.item {
    margin-left: 30px;
}