footer {
    background: var(--secondary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo--wite {
    color: var(--primary-wite-color);
    margin-bottom: 20px;
}

.footer-list .link {
    color: var(--primary-text-color);
    @include font(500, 14px, 1.14, null);
    text-decoration: none;
}

address {
    font-style: normal;
    color: var(--primary-wite-color);
}

.footer-list .info {
    color: rgba(255, 255, 255, 0.6);
    @include font(400, 14px, 1.71, null);
}

li .footer-item :nth-child(1) {
    width: 231px;
}

.footer-social {
    margin-top: 12px;
    margin-left: 70px;
}

.footer-title {
    margin-bottom: 20px;
    @include font(700, 16px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--primary-wite-color);
}

.footer-section {
    display: flex;
}

.soc__link--wite {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--primary-wite-color);
}