.hero {
    max-width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: var(--herobg-gradient), 
            url("../images/heroimg-mob.svg");
    // background-repeat: no-repeat;
    background-color: #c4c4c4;
    text-align: center;
    padding: 118px 0;
    @media screen and (min-width: 768px) {
        max-width: 768px;
        background-image: var(--herobg-gradient),
        url("/images/heroimg-tab.svg");
    }
    // @media screen and (min-width:768) {
    //     max-width: 1200px;
    //     background-image: var(--herobg-gradient),
    //         url("../images/heroimg-tab.svg");
    // }
    @media screen and (min-width:1200px) {
        max-width: 1600px;
        height: 600px;
        padding: 200px 0;
        background-image: var(--herobg-gradient),
            url("../images/heroimg.svg");
}
}

.hero .title {
    margin-top: 0;
    color: var(--primary-wite-color);
    @include font(900, 26px, 1.61, 0.06em);
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 1200px) {
        @include font(900, 44px, 1.36, 0.06em);
        
    }
}