.project-item {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
}

.projects-list .title {
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--title-text-color);
}

.projects-list .text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}

.project-element {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-overlay {
    position: relative;
    overflow: hidden;
}

.project-element:hover .overlay-text {
    opacity: 1;
    transform: translateY(0);
}

.project-element:hover,
.project-element:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.btn-list .item+.item {
    margin-left: 8px;
}